.login-register-button {
    margin-top: 80px;
    width: 100%;
    height: 50px;
    
}

.spinner-login-register {
    margin-top: 50%;

}

.spinner-home{
    margin-top: 50%;
    margin-left: 50%;
}

.spinner-create-post {
    margin-left: 50%;
    margin-top: 50%;
}

.post-item {
    padding: 0;
    width: 100%;
}

.post-delete-icon {
    font-size: 60px;
}
.color {
    --background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

:root[mode=ios] .srisakdi,
:root[mode=md] .srisakdi{
  --ion-font-family:  'Srisakdi'!important;
  font-family:  'Srisakdi' !important;
}