.login-register-button {
    margin-top: 80px;
    width: 100%;
    height: 50px;
    
}

.spinner-login-register {
    margin-top: 50%;

}

.spinner-home{
    margin-top: 50%;
    margin-left: 50%;
}

.spinner-create-post {
    margin-left: 50%;
    margin-top: 50%;
}

.post-item {
    padding: 0;
    width: 100%;
}

.post-delete-icon {
    font-size: 60px;
}


:root[mode=ios] .Ubuntu,
:root[mode=md] .Ubuntu{
  --ion-font-family:  'Oxygen'!important;
  font-family:  'Oxygen' !important;
}

.pagination-spinner {
    margin-left: 46%;
}

.complete-loaded-data {
    display: none;
}

.hidden-spinner {
    display: none;
}

#schedule-add {
    margin-bottom: 26%;
}

#clock-schedule {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    z-index: 2;
}
#search-bar {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: white;
    z-index: 2;
}

.pricetag {
    font-size: 17px;
    margin: 0;
    margin-right: 10px;
}

.min-purchase {
    margin-right: 10px;
}

.schedule-date{
    font-size: 22px;
}
.schedule-time{
    font-size: 60px;
}

.schedule-list {
    margin-top: 140px;
    margin-bottom: 70px;
}
.commodity-list {
    margin-top: 80px;
    margin-bottom: 20%;
    margin-left: 0;
    margin-right: 0;
}
.grid-view-col{
    padding: 0;
    margin-top: 0;
}

.list-view-card{
    font-size: 12px;
}


#photo-fullscreen {
    margin-left: 17%;
    margin-top: 20%;
}

input[type="file"] {
    opacity: 0;
}

.gallery {
    position: absolute;
}

.attachment-group {
    margin: 5%;
    border: 1px solid grey;
    padding: 5px;
    height: 30%;
}
.attachment {
    display: inline !important;
    margin: 1%;
    
}
.form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #fdcb6e;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .button-looking {
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
    margin-left: 25px;
  }
  .button-looking span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
  }

.create-post-button{
    
    margin-left: 5%;
    width: 75%;
}

.delete-button {
    font-size: 60px;
}

.schedule-content {
    height: 50%;
}

.commodity-create-loading {
    left: 50%;
    bottom: 50%;
}

