.login-register-button {
    margin-top: 80px;
    width: 100%;
    height: 50px;
    
}

.spinner-login-register {
    margin-top: 50%;

}

.spinner-home{
    margin-top: 50%;
    margin-left: 50%;
}

.spinner-create-post {
    margin-left: 50%;
    margin-top: 50%;
}

.post-item {
    padding: 0;
    width: 100%;
}

.post-delete-icon {
    font-size: 60px;
}


:root[mode=ios] .Ubuntu,
:root[mode=md] .Ubuntu{
  --ion-font-family:  'Oxygen'!important;
  font-family:  'Oxygen' !important;
}

.pagination-spinner {
    margin-left: 46%;
}

#schedule-add {
    margin-bottom: 26%;
}

#clock-schedule {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    z-index: 2;
}
#search-bar {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: white;
    z-index: 2;
}

.pricetag {
    font-size: 17px;
    margin: 0;
    margin-right: 10px;
}

.min-purchase {
    margin-right: 10px;
}

.schedule-date{
    font-size: 22px;
}
.schedule-time{
    font-size: 60px;
}

.schedule-list {
    margin-top: 140px;
    margin-bottom: 70px;
}
.commodity-list {
    margin-top: 80px;
}


#photo-fullscreen {
    margin-left: 17%;
    margin-top: 20%;
}

input[type="file"] {
    opacity: 0;
}

.gallery {
    position: absolute;
}

.attachment-group {
    margin: 5%;
    border: 1px solid grey;
    padding: 5px;
    height: 30%;
}
.attachment {
    display: inline !important;
    margin: 1%;
    
}

.create-post-button{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 75%;
}

.delete-button {
    font-size: 60px;
}

.schedule-content {
    height: 50%;
}

